@import url(style.css);

#hero{
    background-image: url("../Illustrations2/Batgame_1.png");
    

}
#hero .titre{

    margin-left: 40px;
    font-size: 50px;
    margin-top: 300px;
    

}
#batman-game{
    border: 2px solid  rgba(255,255,255,0.1) ;
    margin: 0 82px;
    border-top: solid black;
    border-bottom: solid black ;

}

.container-chavalier{
    text-align: center;
    
}
.intro-quiz{
    margin: 0px 100px;
}
#batman-game .titre{
   
    margin-bottom:50px;
      
}
.container-chavalier .img-intro{
    width: 100%;
    /* margin: 0 200px; */
    /* border:4px solid green; */
}
#batman-game .demarrer{
    width: 230px;
    margin-top:100px;
    padding: 15px 0;
    cursor: pointer;
    background:linear-gradient(to right,rgba(255,255,255,0.3) 10%, rgba(238, 141, 61, 0.708) 90%);
    border: none;
    color: #ffff;
      
}
/* #batman-game .demarrer1{
    width: 230px;
    margin-top:100px;
    padding: 15px 0;
    cursor: pointer;
    background:linear-gradient(to right,rgba(255,255,255,0.3) 10%, rgba(238, 141, 61, 0.708) 90%);
    border: none;
    color: #ffff;
      
} */
/* premiere partie du jeu */
.partie1{
    margin-top: 100px;
    padding: 100px;
    /* border: 1px solid rgb(54, 30, 210); */
}
form{
    border: 1px solid rgb(30, 210, 84);
    margin: 20px 0px;
    margin-right: 100px;
}
.question{
    display: flex;
    border: 5px solid chocolate;
    /* justify-content: left; */
}
.question img{
    /* display: flex; */
    border: 5px solid rgb(66, 30, 210);
    /* justify-content: left; */
}
.question img{
    margin: auto;
}

.form-titre{
    margin: 10px 0px;
    text-align: left;
}
 .answer{
    display: flex;
    background-color: grey;
    margin-bottom: 30px;
    height: 50px;
    gap: 20px; 
    padding:10px 0px ;
    padding-left: 10px;
    font-size: 20px; 
    width:500px;
    border: 1px solid rgb(33, 210, 30);
}
.answer input[type='checkbox']{

    height: 30px;
    width: 30px;
}
/* slide 6 */
.boule-grenane{
   display: flex;
   margin-left: 58em;
   margin-top: 20px;
   
   /* border: 1px solid rgb(72, 30, 210); */
}
.boule-coeur{
   display: flex;
   margin-top: -8em;
   margin-left: 100px;
   /* border: 1px solid rgb(210, 30, 90); */
}
/* slide 9*/
.inconnu{
   display: flex;
   margin-left: 40em;
   margin-top: -20em; 
   
}
.souri-malefique{
   display: flex;
   margin-top: -200px;
   margin-left: 100px;
   
}
#intro-quiz-9 .demarrer{
    margin-top: 200px;
}
/* slide 10*/
#intro-quiz-10 .homme-crenade{
    display: flex;
    margin-bottom:-40px ;
    margin-left: 250px;
}
.bout-homme{
    margin-bottom: -100px;
}




/* responsive */
@media only screen and (max-width: 500px){
#hero{
    background-size:100vw 100vh;
    border: 10px solid black;
}

.container-chavalier{
    border: 3px solid yellow;

    
}
.intro-quiz{
    margin: 0px 10px;
}
#batman-game #btn-start{
    width: 200px;
}
.answer{
    
    width:100%;
    
}
.question{
    display: block;
    width: 200px;
     margin-left: -80px;
   
}
#img-illustrate ,form{
    /* flex: 1 1 auto;
    min-width: 0; */
    width: 100%;
}
.container-chavalier #down-arrow {
    width: 200px;
    margin-left: -80px;
    border: 3px solid rgb(255, 0, 115);

}
.boule-grenane{
 
    margin-left: 60px;
 }
 .boule-coeur{
    margin-top: 20px;
    margin-left: -220px;
 }
 .inconnu{
    
    margin-left: 2em;
    /* margin-top: -2em;  */
    
 }
 .souri-malefique{
    margin-top: -30px;
    margin-left: -230px;
    
 }
 .bout-homme{
    margin-left: 5em;
    margin-top:-20em;
}
.question .homme-crenade{
    /* display: flex; */
    display: none;
    margin-left: 50px;
    border: 3px solid rgb(0, 255, 47); 
    margin-top: 5em;
    width: 150px;
    height: 150px;
}
/* .question img{
  width: 100%;
} */
}